.as-center-table {
    display: table;
}

.as-center-cell {
    display: table-cell;
}

.as-relative-layout {
    position: relative;
}

.as-relative-layout>.as-relative-anchor-box {
    position: absolute;
    z-index: 1;
}


.as-relative-anchor-box {
    pointer-events: none;
}


.as-center-cell>.as-relative-layout,
.as-center-cell>.absol-bscroller {
    display: inline-block;
}


/*
    width: auto | set
    left: set
    right: unset,
*/
.as-relative-layout>.as-relative-anchor-box.as-halign-left {
    left: 0;
}

/*
    width: auto | set
    right: set
    left: unset,
*/
.as-relative-layout>.as-relative-anchor-box.as-halign-right {
    right: 0;
}

/*
    left: unset
    right: unset
    width: auto | set
    warning: inner element should be set text-align to default to prevent error 
*/
.as-relative-layout>.as-relative-anchor-box.as-halign-center {
    left: 0;
    right: 0;
    text-align: center;
}

/*
    left: set
    right: set
    width: unset
*/
.as-relative-layout>.as-relative-anchor-box.as-halign-fixed {
    left: 0;
    right: 0;
}

.as-relative-layout>.as-relative-anchor-box.as-halign-fixed>.as-base-component,
.as-relative-layout>.as-relative-anchor-box.as-halign-fixed>.as-center-table,
.as-relative-layout>.as-relative-anchor-box.as-halign-fixed>.as-center-table>.as-center-cell>.as-base-component {
    width: 100%;
}



.as-relative-layout>.as-relative-anchor-box.as-halign-center>.as-base-component {
    display: inline-block;
}

.as-relative-layout>.as-relative-anchor-box.as-halign-center>table.as-base-component {
    display: inline-table;
}

/*
    top: set
    height: auto | set
    bottom: unset
*/
.as-relative-layout>.as-relative-anchor-box.as-valign-top {
    top: 0;
}


/*
    bottom: set
    height: auto | set
    top: unset
*/
.as-relative-layout>.as-relative-anchor-box.as-valign-bottom {
    bottom: 0;
}

/*
    bottom: set
    height: unset
    top: set
*/
.as-relative-layout>.as-relative-anchor-box.as-valign-fixed {
    bottom: 0;
    top: 0
}

.as-relative-layout>.as-relative-anchor-box.as-valign-fixed>* {
    height: 100%;
}


.as-relative-layout>.as-relative-anchor-box.as-valign-center {
    top: 0;
    bottom: 0;
}

.as-relative-layout>.as-relative-anchor-box.as-valign-center>.as-center-table {
    height: 100%;
}

.as-relative-layout>.as-relative-anchor-box.as-valign-center>.as-center-table>.as-center-cell {
    vertical-align: middle;
}


.as-relative-layout>.as-relative-anchor-box.as-valign-center.as-halign-center>.as-center-table {
    width: 100%;
}


.as-base-component {
    pointer-events: all;
    box-sizing: border-box;
    text-align: left;
}

.as-base-component textarea {
    resize: none;
}

.as-component-content-scaleless,
.as-relative-layout>.as-relative-anchor-box.as-halign-center>.as-component-content-scaleless {
    display: inline-table;
}

.as-component-content-scaleless-cell {
    display: table-cell;
    width: 100%;
}

.as-component-content-scaleless.as-align-left-top>.as-component-content-scaleless-cell {
    text-align: left;
    vertical-align: top;
}

.as-component-content-scaleless.as-align-right-top>.as-component-content-scaleless-cell {
    text-align: right;
    vertical-align: top;
}

.as-component-content-scaleless.as-align-center-top>.as-component-content-scaleless-cell {
    text-align: center;
    vertical-align: top;
}


.as-component-content-scaleless.as-align-left-center>.as-component-content-scaleless-cell {
    text-align: left;
    vertical-align: middle;
}

.as-component-content-scaleless.as-align-right-center>.as-component-content-scaleless-cell {
    text-align: right;
    vertical-align: middle;
}

.as-component-content-scaleless.as-align-center-center>.as-component-content-scaleless-cell {
    text-align: center;
    vertical-align: middle;
}




.as-component-content-scaleless.as-align-left-bottom>.as-component-content-scaleless-cell {
    text-align: left;
    vertical-align: bottom;
}

.as-component-content-scaleless.as-align-right-bottom>.as-component-content-scaleless-cell {
    text-align: right;
    vertical-align: bottom;
}

.as-component-content-scaleless.as-align-center-bottom>.as-component-content-scaleless-cell {
    text-align: center;
    vertical-align: bottom;
}

.as-component-content-scaleless-cell {
    font-size: inherit;
    font-style: inherit;
    font-family: inherit;
}



.as-component-content-scaleless-cell>div {
    display: inline-block;
}

.as-base-component label {
    font-family: inherit;
    font-size: inherit;
}

.as-linear-layout::before {
    content: "";
    display: block;
    height: 1px;
    margin-bottom: -1px;
}

.as-linear-anchor-box {
    display: block;
}


.as-chain-anchor-box {
    display: inline-block;
}

.as-chain-anchor-box.as-valign-top {
    vertical-align: top;
}

.as-chain-anchor-box.as-valign-center {
    vertical-align: middle;
}

.as-chain-anchor-box.as-valign-bottom {
    vertical-align: bottom;
}