textarea.as-base-component {
    resize: none;

}

input.as-base-component,
textarea.as-base-component {
    outline: none;
    border:solid 1px #d6d6d6;
    border-radius: 2px;
}


.absol-selectmenu.as-base-component .absol-selectmenu-holder-item {
    top: calc(50% - 10px);
    bottom: calc(50% - 10px);
}