textarea.as-base-component {
    resize: none;

}

input.as-base-component,
textarea.as-base-component {
    outline: none;
    border: solid 1px #d6d6d6;
    border-radius: 2px;
}

.as-base-component {
    box-sizing: border-box;
}

.absol-selectmenu.as-base-component .absol-selectmenu-holder-item {
    top: calc(50% - 10px);
    bottom: calc(50% - 10px);
}

table.as-inner-table {
    border-collapse: collapse;
    box-sizing: border-box;
    min-width: calc(100% - 1px);
    min-height: calc(100% - 1px);
    background: white;
    box-sizing: border-box;
}

table.as-inner-table>thead {
    font-style: italic;
    background: #f5f5f5;
}

table.as-inner-table>tbody>tr>td,
table.as-inner-table>thead>tr>th {
    border: 1px solid #aaaaaa;
    box-sizing: border-box;
    padding: 0.25em;
    white-space: nowrap;

}