.as-compopnent-picker {}


.as-compopnent-picker-forceground {
    position: fixed;
    z-index: 1000;
    cursor: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    /* background: rgba(169, 169, 169, 0.1); */
}

.as-compopnent-picker-higne {
    position: relative;
    left: 0;
    top: 0;
}

.as-compopnent-picker-add-box-container {
    position: absolute;
    left: 0;
    top: 0;
}

.as-compopnent-picker-add-box {
    position: relative;
    width: 2em;
    height: 2em;
    background: white;
    border: 1px solid #d6d6d6;
    text-align: center;
    opacity: 0.7;
}

.as-compopnent-picker-add-box.as-can-drop {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(40, 141, 224, 0.6);
    -moz-box-shadow: 0px 0px 5px 3px rgba(40, 141, 224, 0.6);
    box-shadow: 0px 0px 5px 3px rgba(40, 141, 224, 0.6);
}

.as-compopnent-picker-add-box-plus {
    position: absolute;
    left: -0.5em;
    top: -0.5em;
    width: 1em;
    height: 1em;
    text-align: center;
    z-index: 1;
}

.as-compopnent-picker-add-box-plus span {
    /* font-size: 0.5em; */
    vertical-align: top;
}

.as-compopnent-picker-add-box>svg,
.as-compopnent-picker-add-box>span {
    width: 1.25em;
    height: 1.25em;
    font-size: 1.25em;
    line-height: 1.6;
}