.as-form-preview {
    font-size: 14px;
    z-index: 99;
}


.as-form-preview::after {
    content: "";
    display: table;
    clear: both;
}

.as-form-preview-actions {
    padding: 0.357em;
    border-bottom: 1px solid #ddd;
}

.as-form-preview-actions>button {
    margin-right: 1em;
}


.as-form-preview-content {
    padding: 0.5em;
    position: relative;
    display: inline-block;
}


.as-form-preview-content>.as-base-component {
    -webkit-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
}


.as-form-preview-content:empty {
    height: 0;
    width: 0;
}