.as-form-editor {
    position: relative;
    font-size: 14px;
}

.as-form-editor-resizer {
    z-index: 10;
    position: absolute;
}

.as-form-editor-resizer.vertical {
    top: 0;
    bottom: 0;
    width: 14px;
    cursor: w-resize;
}

.as-form-editor-left-site-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 16em;
}

.as-form-editor-left-site-container>.as-form-editor-left-site {
    width: 100%;
    height: 100%;
}

.as-form-editor-resizer.vertical.left-site {
    left: calc(16em - 7px);
}

.as-form-editor-editor-space-container {
    position: absolute;
    left: 16.2em;
    top: 0;
    bottom: 0;
    right: 16.2em;
}

.as-form-editor-resizer.vertical.right-site {
    right: calc(16em - 7px);
}

.as-form-editor-right-site-container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 16em;
}

.as-form-editor-right-site-container>.as-form-editor-right-site {
    width: 100%;
    height: 100%;
}

.as-form-editor-editor-space-container> .as-layout-editor{
    width: 100%;
    height: 100%;
}