.as-form-editor {
    position: relative;
    font-size: 14px;
    outline: none;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(110, 110, 110, 0.3);
    -moz-box-shadow: 0px 0px 0px 1px rgba(110, 110, 110, 0.3);
    box-shadow: 0px 0px 0px 1px rgba(110, 110, 110, 0.3);
}

.as-form-editor-resizer {
    z-index: 10;
    position: absolute;
}

.as-form-editor-resizer.vertical {
    top: 0;
    bottom: 0;
    width: 0.2em;
    cursor: w-resize;
}

.as-form-editor-left-tab-bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3em;
    background-color: rgba(169, 169, 170, 0.11659);
}

.as-form-editor-left-tab-bar>button,
.as-form-editor-left-tab-bar-bottom-container>button {
    display: block;
    width: 3em;
    height: 3em;
}

.as-form-editor-quick-toolbar button,
.as-form-editor-left-tab-bar>button,
.as-form-editor-left-tab-bar-bottom-container>button {
    font-size: 1em;
    color: rgb(196, 196, 196);
    border: none;
    background-color: transparent;
    border-radius: 0;
    outline: none;
}

.as-form-editor-left-tab-bar>button:hover,
.as-form-editor-left-tab-bar-bottom-container>button:hover,
.as-form-editor-quick-toolbar button:hover {
    color: rgba(102, 102, 102);
}

.as-form-editor-left-tab-bar>button:active,
.as-form-editor-left-tab-bar>button.active,
.as-form-editor-quick-toolbar button:active {
    background-color: rgb(169, 169, 169);
    color: white;

}

.as-form-editor-left-tab-bar>button>span,
.as-form-editor-left-tab-bar-bottom-container>button>span {
    font-size: 2em;
}

.as-form-editor-left-tab-bar-bottom-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}



.as-form-editor-left-site-container {
    position: absolute;
    left: 3em;
    top: 0;
    bottom: 0;
    width: calc(15% - 3em);
    border-right: 1px solid #ddd;
    box-sizing: border-box;

}

.as-form-editor-left-site-container>.as-form-editor-left-site {
    width: 100%;
    height: 100%;
}

.as-form-editor-resizer.vertical.left-site {
    left: calc(15% - 0.1em);
}

.as-form-editor-editor-space-container,
.as-form-editor-empty-space {
    position: absolute;
    left: 15%;
    top: 0;
    bottom: 0;
    right: 0;
}
.as-form-editor-empty-space{
    z-index: 0;
}

.as-form-editor-editor-space-container {
    z-index: 1;
    background: white;
}

.as-form-editor-editor-space-container .as-layout-editor,
.as-form-editor-editor-space-container .as-code-editor,
.as-form-editor-editor-space-container .as-form-preview

{
    width: 100%;
    height: 100%;
}

.as-form-editor-editor-space-container>div {
    width: 100%;
    height: 100%;
}

.as-form-editor-resizer.vertical.right-site {
    right: calc(23em - 0.2em);
}

.as-form-editor-right-site-container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 23em;
    border-left: 1px solid #ddd;
}

.as-form-editor-right-site-container>.as-form-editor-right-site {
    width: 100%;
    height: 100%;
}

.as-form-editor-editor-space-container>.as-layout-editor {
    width: 100%;
    height: 100%;
}


table.as-form-params {
    border-collapse: collapse;
    box-sizing: border-box;
}

table.as-form-params>tbody>tr>td,
table.as-form-params>thead>tr>td {
    border: 1px solid #eeeeee;
    padding: 0.25em;

}

.as-form-property-tab>table.as-form-params {
    width: calc(100% - 10px);
    margin: 5px;
}

table.as-form-params>tbody>tr>td>input[type="text"],
table.as-form-params>tbody>tr>td>textarea {
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    border: solid 1px #d6d6d6;
    outline: none;
}

table.as-form-params>tbody>tr>td>textarea {
    width: 100% !important;
}


.as-form-tool-site {}

.as-form-left-tool-site-tab .as-component-outline ,
.as-form-left-tool-site-tab .as-form-explorer 
{
    height: calc(100% - 2em);
}

.as-form-tool-site-header {
    height: 2em;
    padding-left: 1em;
    background-color: rgba(169, 169, 169, 0.05);
}

.as-form-tool-site-header span {
    color: rgb(173, 173, 173);
    font-size: 0.75em;
    line-height: 2.666;
}

.as-form-tool-site .as-form-search-toolbox {
    margin: 0.3em;
}

.as-form-tool-site .absol-drop-panel {
    font-size: 0.7em;
}

.as-form-explorer .absol-drop-panel {
    height:100%;
}
.as-form-explorer .absol-drop-panel.show .absol-drop-panel-body{
    height: calc(100% - 18px);
}


.as-form-editor-editor-space-container>.absol-tabview>.absol-tabbar .absol-tabbar-button {
    border-radius: 0;
    margin-right: 0;
    margin-left: 0;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: solid 1px rgba(169, 169, 169, 0.3);
    font-size: 1em;
}


.as-form-editor-quick-toolbar {
    height: 2em;
    min-width: 2em;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(248, 248, 248);
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;

}

.as-form-editor-quick-toolbar button {
    height: 100%;
    width: 2em;
    border: none;
    border-radius: 0;
    font-size: 1em;
    outline: none;
    padding: 0;
    background-color: transparent;
}

.as-form-editor-quick-toolbar button>span {
    font-size: 1.3em;
}