.as-form-editor {
    position: relative;
    font-size: 14px;
}

.as-form-editor-resizer {
    z-index: 10;
    position: absolute;
}

.as-form-editor-resizer.vertical {
    top: 0;
    bottom: 0;
    width: 0.4em;
    cursor: w-resize;
}

.as-form-editor-left-site-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 16em;
    border-right: 1px solid #ddd ;

}

.as-form-editor-left-site-container>.as-form-editor-left-site {
    width: 100%;
    height: 100%;
}

.as-form-editor-resizer.vertical.left-site {
    left: calc(16em - 0.2em);
}

.as-form-editor-editor-space-container {
    position: absolute;
    left: 16.2em;
    top: 0;
    bottom: 0;
    right: 23.2em;
}

.as-form-editor-resizer.vertical.right-site {
    right: calc(23em - 0.2em);
}

.as-form-editor-right-site-container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 23em;
    border-left: 1px solid #ddd ;
}

.as-form-editor-right-site-container>.as-form-editor-right-site {
    width: 100%;
    height: 100%;
}

.as-form-editor-editor-space-container>.as-layout-editor {
    width: 100%;
    height: 100%;
}


table.as-form-params {
    border-collapse: collapse;
    box-sizing: border-box;
}

table.as-form-params>tbody>tr>td,
table.as-form-params>thead>tr>td {
    border: 1px solid #eeeeee;
    padding: 0.25em;

}

.as-form-property-tab>table.as-form-params {
    width: calc(100% - 10px);
    margin: 5px;
}

table.as-form-params>tbody>tr>td>input[type="text"],
table.as-form-params>tbody>tr>td>textarea {
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    border: solid 1px #d6d6d6;
    outline: none;
}

table.as-form-params>tbody>tr>td>textarea{
    width: 100% !important;
}