.as-layout-editor {
    position: relative;
    box-sizing: border-box;
}


.as-layout-editor-v-align-line,
.as-layout-editor-h-align-line {
    position: absolute;

}


.as-layout-editor-h-align-line {
    left: 0;
    right: 0;
    border-top: dashed 1px rgba(59, 154, 209, 0.753);
}

.as-layout-editor-v-align-line {
    top: 0;
    bottom: 0;
    border-left: dashed 1px rgba(59, 154, 209, 0.753);
}



.as-layout-editor-space-container {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    right: 0;
    bottom: 0;
}

.as-layout-editor-space {
    display: inline-block;
    position: relative;
}


.as-layout-editor-layout-container {
    padding: 0.4em;
    display: inline-block;
}

.as-layout-editor-layout-container>.as-relative-layout,
.as-layout-editor-layout-container>.as-linear-layout {
    -webkit-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
}


.as-layout-editor-forceground-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


.as-layout-editor-background {
    z-index: 0;
}

.as-layout-editor-layout-contaner {
    z-index: 1;
}

.as-layout-editor-forceground-container {
    z-index: 2;
}

.as-layout-editor-forceground {
    width: 100%;
    height: 100%;
    position: relative;
}


.as-layout-editor-hrule-container {
    position: absolute;
    top: 0;
    left: 1.5em;
    right: 0;
    height: 1.5em;
    z-index: 1;
}

.as-layout-editor-vrule-container {
    position: absolute;
    left: 0;
    top: 1.5em;
    bottom: 0;
    width: 1.5em;
    z-index: 2;

}

.as-layout-editor-vrule-container>.as-vruler,
.as-layout-editor-hrule-container>.as-hruler {
    height: 100%;
    width: 100%;
}

.as-layout-editor-new-component-menu-trigger {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    top: -1.5em;
    left: -1.5em;
}

.as-layout-editor.mode-interact .as-layout-editor-forceground-container {
    visibility: hidden;
}

.as-layout-editor-mode-button-container {
    left: 0;
    top: 0;
    width: 1.5em;
    height: 1.45em;
}

.as-layout-editor-mode-button-container>button {
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 1em;
}

.as-layout-editor-mode-button-container>button:hover {
    background-color: rgba(169, 169, 170, 0.2);
}

.as-layout-editor-mode-button-container>button:active {
    background-color: rgba(169, 169, 170, 0.4);
}

.as-layout-editor-mode-button-container .mdi {
    display: none;
}

.as-layout-editor.mode-interact>.as-layout-editor-mode-button-container .mdi-play-outline {
    display: inline;
}

.as-layout-editor.mode-design>.as-layout-editor-mode-button-container .mdi-pencil-box-multiple-outline {
    display: inline;
}

.as-layout-editor-layout-container .as-base-component .as-relative-layout,
.as-layout-editor-layout-container .as-base-component .as-linear-layout {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(169, 169, 255, 0.8);
    -moz-box-shadow: 0px 0px 0px 1px rgba(169, 169, 255, 0.8);
    box-shadow: 0px 0px 0px 1px rgba(169, 169, 255, 0.8);
}