.as-linear-anchor-box {
    display: block;
}


.as-linear-anchor-box:not(.as-width-auto) > .as-base-component {
    width: 100%;
}

.as-linear-anchor-box:not(.as-height-auto) > .as-base-component {
    height: 100%;
}