.mpot-merge-tool {
    position: relative;
    --preview-width: 50%;
    font-size: 14px;
}

.mpot-merge-tool-preview-ctn {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--preview-width);
    z-index: 1;
    border-right: 1px solid #dddddd;
    padding: 1em;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: rgb(238, 236, 234);
}

.mpot-merge-tool-properties-ctn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: var(--preview-width);
    z-index: 1;
}

.mpot-merge-tool-center-resizer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0.5em;
    left: calc(var(--preview-width) - 0.25em);
    z-index: 2;
    cursor: ew-resize;
    touch-action: none;
}

.mpot-merge-tool-center-resizer.as-active {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
}


.mpot-merge-tool-preview-ctn > .mpot-preview {
    width: 100%;
    background: white;
    -webkit-box-shadow: 3px 7px 25px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 7px 25px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 7px 25px -9px rgba(0, 0, 0, 0.75);
}


.mpot-merge-tool-properties-ctn > .mpot-property-editor {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}