.mpot-base-preview {
    display: block;
    cursor: pointer;
}

.mpot-base-preview:hover {
    background-color: rgba(169, 169, 170, 0.1);
}

.mpot-base-preview-name {
    box-sizing: border-box;
    width: var(--property-name-width);
}

.mpot-base-preview-content {
    box-sizing: border-box;
}

.mpot-preview-group {
    box-sizing: border-box;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.mpot-preview-group-name {
    font-size: 1.2em;
    font-weight: bold;
}


.mpot-base-preview-content,
.mpot-base-preview-name {
    display: inline-block;
    vertical-align: middle;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}