.mpot-base-editor {

}

.mpot-choice-list {
    display: table;
    table-layout: fixed;
}

.mpot-choice {
    display: table-row;
    vertical-align: middle;
}

.mpot-choice-select-cell {
    display: table-cell;
    width: 2em;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    vertical-align: middle;
}

.mpot-choice-value {
    display: table-cell;
    vertical-align: middle;

}

.mpot-choice span,
.mpot-choice .absol-radio {
    vertical-align: middle;
    display: inline-block;
}

.mpot-choice-value img {
    vertical-align: middle;
    display: inline-block;
    max-width: 300px;
    max-height: 300px;
}


.mpot-text-input::placeholder {
    color: #c4c4c4;
}

.mpot-choice-input {
    outline: none;
}

input.mpot-choice-input,
textarea.mpot-choice-input {
    border-width: 1px;
    border-color: #dddddd;
}

.absol-radio.mpot-choice-input{
    border-radius: 50%;
}

.mpot-choice-input:focus {
    outline: none;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(97, 136, 232, 0.66);
    -moz-box-shadow: 0px 0px 5px 0px rgba(97, 136, 232, 0.66);
    box-shadow: 0px 0px 5px 0px rgba(97, 136, 232, 0.66);
}