table.as-property-editor {
    border-collapse: collapse;
    box-sizing: border-box;
}

table.as-property-editor>thead{
    font-style: italic;
    background: #f5f5f5;
}

table.as-property-editor>tbody>tr>td,
table.as-property-editor>thead>tr>td {
    border: 1px solid #aaaaaa;
    padding: 0.25em;

}

.as-form-property-tab>table.as-property-editor {
    width: calc(100% - 10px);
    margin: 5px;
}

table.as-property-editor>tbody>tr>td>input[type="text"],
table.as-property-editor>tbody>tr>td>textarea {
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    border: solid 1px #d6d6d6;
    outline: none;
}

table.as-property-editor>tbody>tr>td>textarea{
    width: 100% !important;
}
