.as-relative-anchor-box {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}



/*
    width: auto | set
    left: set
    right: unset,
*/
.as-relative-anchor-box.as-halign-left {
    left: 0;
}


/*
    width: auto | set
    right: set
    left: unset,
*/
.as-relative-anchor-box.as-halign-right {
    right: 0;
}


/*
    left: unset
    right: unset
    width: auto | set
    warning: inner element should be set text-align to default to prevent error 
*/
.as-relative-anchor-box.as-halign-center {
    left: 0;
    right: 0;
    text-align: center;
}

/*
    left: set
    right: set
    width: unset
*/
.as-relative-anchor-box.as-halign-fixed {
    left: 0;
    right: 0;
}


/*
    left: set
    right: set
    width: unset
*/
.as-relative-anchor-box.as-halign-fixed {
    left: 0;
    right: 0;
}


/*
    bottom: set
    height: unset
    top: set
*/
.as-relative-anchor-box.as-valign-fixed {
    bottom: 0;
    top: 0
}

.as-relative-anchor-box>.as-align-box>.as-align-box-cell>.as-base-component{
    width: 100%;
    height: 100%;
}

.as-relative-anchor-box.as-valign-center>.as-align-box>.as-align-box-cell {
    vertical-align: middle;
}


.as-relative-anchor-box>.as-base-component{
    width: 100%;
    height: 100%;
}

