.as-resize-box {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    opacity: 0.5;

}

.as-resize-box-body {
    margin: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    position: relative;
    box-sizing: border-box;
    border: solid 2px rgb(32, 150, 218);
    cursor: move;
}


.as-resize-box-dot {
    position: absolute;
    width: 0.4em;
    height: 0.4em;
    background: rgb(32, 150, 218);
}

.as-resize-box-dot.left-top {
    top: calc(-0.2em - 1px);
    left: calc(-0.2em - 1px);
    cursor: nw-resize;
}

.as-resize-box-dot.left-bottom {
    bottom: calc(-0.2em - 1px);
    left: calc(-0.2em - 1px);
    cursor: sw-resize;
}

.as-resize-box-dot.left {
    top: calc(50% - 0.2em);
    left: calc(-0.2em - 1px);
    cursor: w-resize;
}

.as-resize-box-dot.top {
    top: calc(-0.2em - 1px);
    left: calc(50% - 0.2em);
    cursor: n-resize;
}

.as-resize-box-dot.bottom {
    bottom: calc(-0.2em - 1px);
    left: calc(50% - 0.2em);
    cursor: s-resize;
}

.as-resize-box-dot.right-top {
    top: calc(-0.2em - 1px);
    right: calc(-0.2em - 1px);
    cursor: ne-resize;
}

.as-resize-box-dot.right-bottom {
    bottom: calc(-0.2em - 1px);
    right: calc(-0.2em - 1px);
    cursor: se-resize;
}


.as-resize-box-dot.right {
    top: calc(50% - 0.2em);
    right: calc(-0.2em - 1px);
    cursor: e-resize;
}