.as-vline {
    position: absolute;
    pointer-events: none;
    opacity: 0.5;

}

.as-vline-body {
    position: relative;
    border-left: solid 2px rgb(55, 180, 159);
    box-sizing: border-box;
    height:  100%;
    margin-left: -1px;
    margin-right: -1px;

}

.as-vline-dot {
    position: absolute;
    left: calc(-0.2em - 1px);
    height: 0.4em;
    width: 0.4em;
    background-color: rgb(55, 180, 159);
}


.as-vline-dot.top {
    top: -0.2em;
}


.as-vline-dot.bottom {
    bottom: -0.2em;
}